// Main Search for main-content area
.search-title {
  font-size: 18px;
  padding: 15px 25px;
  text-transform: uppercase;
}

.main-advance-search {

  .container {
    position: relative;
    padding: 0 0 20px;
  }

  .advance-search-form {
    padding-left: 15px;
    padding-right: 15px;
  }

  .option-bar {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .form-submit-btn {
    width: 100%;
  }

  .hidden-fields-reveal-btn {
    display: none;
  }
}
